@using MVC.Models.Datas
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Teknik Detaylar";
}
<link href="~/css/mytrades.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">


@section customScripts {
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <script>
        var dataTable = $('#coinDataTable').DataTable({

            language: {
                search: "Ara:",
                paginate: {
                    previous: "Önceki",
                    next: "Sonraki"
                },
                info: "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                lengthMenu: "Sayfada _MENU_ kayıt göster"
            }

        });// This closing brace and parenthesis were missing
    </script>
}


<h2 style="text-align: center;">Teknik Detaylar</h2>
<div class="container">


    <table id="coinDataTable" class="container mx-4 transparent">
        <thead>
            <tr>
                <th>İsim</th>
                <th>CoinMarket Sıralaması</th>
                <th>Maksimum Arz</th>
                <th>Toplam Arz</th>
                <th>Dolaşımdaki Arz</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.CmcRank</td>
                    <td>@($"{item.MaxSupply:n0}")</td>
                    <td>@($"{item.TotalSupply:n0}")</td>
                    <td>@($"{item.CirculatingSupply:n0}")</td>

                </tr>
            }
        </tbody>
    </table>
</div>
